* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
  }
  body {
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 5%;
  }
  .navbar img{
    width: 150px;
  }
  ul{
    display: flex;
    align-items: center;
  }
  .navbar ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
  }
  .home a {
    font-weight: 700;
    color: #20bc7e;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .hospital-description {
    width: 50%;
    text-align: center;
  }

  .hospital-description h1{
    color: #20bc7e;
    margin-bottom: 20px;
  }

  .hospital-description p{
    font-size: 17px;
    font-weight: 400;
  }

  .achievements{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
  }

  .achievement{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
  }
  .achievement h3{
    color: #20bc7e;
    font-size: 25px;
    font-weight: 700;
  }

  .achievement p{
    font-size: 20px;
    font-weight: 500;
  }